{% extends "filingcabinet/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_tag %}
{% include "filingcabinet/_document_viewer.html" with object=object container_fluid=True %}
{% endblock %}

{% block css %}
  {{ block.super }}
  {% if object.pending %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
  <link href="{% static 'css/filingcabinet.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/common.js' %}" defer></script>
  <script src="{% static 'js/filingcabinet.js' %}" defer></script>
{% endblock %}
