{% extends "filingcabinet/base.html" %}

{% load i18n %}
{% load static %}
{% load markup %}

{% block body %}
{% block document_top %}
  <div class="container mt-3 mb-5">
    <h2>{{ object.title }}</h2>
    {% if not object.public %}
      <span class="badge badge-secondary">{% trans "private" %}</span>
    {% endif %}
    {% if object.description %}
      <p>
         {{ object.description|markdown }} 
      </p>
    {% endif %}
  </div>
{% endblock document_top %}

{% block document_main %}
  {% include "filingcabinet/_document_viewer.html" with object=object beta=beta %}
{% endblock document_main %}

{% block document_footer %}
<div class="container mb-5">
  <div class="text-right">
      <small>
          {# expose direct links through redirects in case they get copied #}
          <a href="{{ object.get_document_file_url }}?download">
              {% trans "Download PDF" %}
          </a>
      </small>
  </div>
</div>
{% endblock document_footer %}
{% endblock %}

{% block css %}
  {{ block.super }}
  {% if object.pending %}
    <meta http-equiv="refresh" content="30">
  {% endif %}
  {% if beta %}
    <link href="{% static 'css/filingcabinet.css' %}" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if beta %}
    <script src="{% static 'js/common.js' %}" defer></script>
    <script src="{% static 'js/filingcabinet.js' %}" defer></script>
  {% endif %}
{% endblock %}
