{% extends "filingcabinet/base.html" %}

{% load i18n %}
{% load static %}
{% load markup %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_tag %}
{% include "filingcabinet/_documentcollection_viewer.html" with container_fluid=True %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'css/filingcabinet.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/common.js' %}" defer></script>
  <script src="{% static 'js/filingcabinet.js' %}" defer></script>
{% endblock %}
