include README.md LICENSE.txt package.json
recursive-include src/filingcabinet/templates *
recursive-include src/filingcabinet/static *
recursive-include src/filingcabinet/locale *.po
recursive-include frontend *