{% extends "filingcabinet/base.html" %}
{% block title %}{{ object.title }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}
{% block body %}
    {% block documentcollection_top %}
        <div class="container mt-3 mb-5">
            <h2>{{ object.title }}</h2>
            {% if object.description %}<p>{{ object.description }}</p>{% endif %}
        </div>
    {% endblock documentcollection_top %}
    {% include "filingcabinet/_documentcollection_viewer.html" %}
{% endblock %}
{% block scripts %}
    {{ block.super }}
    {% include "_frontend.html" with entry_point="filingcabinet.js" %}
{% endblock %}
